.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  padding: 0.25rem;
  list-style: none;
}
